{#
    Overwrites in order to remove the div.horizontal_input_wrapper_class
    that used to wrap the inputs
#}
{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }}/>
        {% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
            {% if widget_addon_append|default(null) is not null %}
                {% set widget_addon = widget_addon_append %}
                {{ block('widget_addon') }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock file_widget %}


{#  Uses data-u-image-upload angular directive #}
{% block image_upload_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') }) %}
        <div data-u-image-upload
             class="{{ attr.class }}"
             data-ng-init="image='{{ image_url }}';defaultImage='{{ default_image_url }}'"
             data-u-file-src="image"
             data-u-file-default-src="defaultImage"
             data-u-file-name="{{ name_property }}">

            <img class="masked" data-ng-src="{{ '{{image}}' |raw }}" src="{{ image_url }}"/>

            {{ form_widget(form[file_property], { 'attr': {'class' : 'hide'} }) }}
            {{ form_widget(form[name_property], { 'attr': {'class' : 'hide'} }) }}

            <a class="btn btn-danger"
               data-ng-click="removePic()"
               data-ng-show="image!=defaultImage">
                {{ 'profile.picture.remove'|trans({}, translation_domain) }}
            </a>

            <a class="btn btn-primary"
               data-ng-click="uploadFile()"
               data-ng-show="image==defaultImage">
                {{ 'profile.picture.upload'|trans({}, translation_domain) }}
            </a>
        </div>
    {% endspaceless %}
{% endblock %}