{% block multiple_choice_widget %}

    {% import 'UndfFormBundle:Form:angular_fields_macros.html.twig' as ngMacros %}
    {% set ngModel = ngMacros.ng_model(form, name) %}
    {% spaceless %}
        <button type="button"
                data-multiple-choice
                data-choices="{{ name }}"
                data-selected-choices="selected{{ name }}"
                data-modal-header="{{ attr.placeholder |trans({}, translation_domain) }}"
                data-api-url="{{ form.vars.api_url }}"
                data-field-name="{{ ngModel }}"
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% else %}{{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}
        >
        {{ attr.placeholder | trans({}, translation_domain) }} ({% raw %}{{ ({% endraw %} {{ name }} {% raw %}| filter:{ selected: true }).length }}{% endraw %})</span>
        </button>

        <select class="hidden" name="{{ full_name }}[]" multiple ng-model="selected{{ name }}"
                ng-options="c.name for c in {{ name }} track by c.id"></select>
    {% endspaceless %}

{% endblock multiple_choice_widget %}