{% block multiple_choice_widget %}

    {% import 'UndfFormBundle:Form:angular_fields_macros.html.twig' as ngMacros %}
    {% set ngModel = ngMacros.ng_model(form, name) %}
    {% spaceless %}
        {% set jsonChoicesName = name ~ 'Choices' %}

        <multiple-choice {% if group_by %}data-grouped-choices{% endif %}
                         class="form-group"
                         choices="{{ jsonChoicesName }}"

                         data-ng-model="{{ ngModel }}"
                         full-name="'{{ full_name }}[]'"
                         field-name="{{ name }}"

                         data-modal-header="{{ attr.placeholder |trans({}, translation_domain) }}"
                         data-modal-footer="ok"

                         ng-init="{{ jsonChoicesName }}={{ json_choices }};{{ ngModel }}=({{ json_choices }}|merge|filter:{selected:true})"
                >
            <button type="button" {% for attrname, attrvalue in attr %}
                {% if attrname in ['placeholder', 'title'] %}
                    {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
                {% else %}
                    {{ attrname }}="{{ attrvalue }}"
                {% endif %}
            {% endfor %}
            >

            {{ attr.placeholder | trans({}, translation_domain) }}
            ( {{ '{{ (' ~ jsonChoicesName ~ '| merge | filter:{ selected : true }).length' ~'}}'| raw }} )
            </button>

        </multiple-choice>

    {% endspaceless %}

{% endblock multiple_choice_widget %}